.home {
    padding-top: 120px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #b40000 10%, #000133 90%);
}

.home-container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 5px solid #ffffff;
    object-fit: cover;
}

.home-fname{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1.8rem, 4vw, 4rem);
}

.home-intro{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem ,3vw , 2rem);
}

.about-me{
    min-height: 60vh;
    color: #ffffff;
    background: linear-gradient(to top, #23005a 10%, #000133 90%);
    font-family: "Poppins", sans-serif;
}

.list-unstyled{
    line-height: 2;
}

.description{
    line-height: 2;
}

.project{
    min-height: 100vh;
    background: linear-gradient(to bottom, #23005a 10%, #000133 90%);
}

.projects{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.custom-card {
    background: linear-gradient(to top, #300fc7 0%, #000279 100%);
    color: #ffffff;
}

.card{
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 0px;
}

.project h5{
    font-size: clamp(0.8rem, 1vw, 1rem)
}

.card-img-top{
    border-radius: 0px;
    margin: 0px;
}
