* {
    margin: 0px;
    padding: 0px;
}

/* navbar */

.navbar a{
    color: #fff;
    font-family: "Quicksand", sans-serif;
}

.nav-item a:hover{
    color: #bc4646;
}

/* hero section */

.home{
    min-height: 100dvh;
    background: linear-gradient(to bottom, #940000 10%, #000133 90% );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Quicksand", sans-serif;
}

.home img{
    width: 500px;
    max-width: 100%;
    border-radius: 50%;
    border: 6px solid #fff;
}

.home h1{
    font-size: clamp(1.5rem, 4vw, 4rem);
}

.home p{
    font-size: clamp(1rem, 2vw, 2rem);
}

/* about section */

.about{
    min-height: 100dvh;
    background: linear-gradient(to top, #23005a 10%, #000133 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.about h1{
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-family: "Poppins", sans-serif;
}

.about img{
    width: 500px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    padding: 0px 3rem;
}

.about p{
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: "Quicksand", sans-serif;
    text-align: justify;
}

.about h2{
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: "Poppins", sans-serif;
}

.about a{
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-family: "Quicksand", sans-serif;
    color: #ff0000;
}

/* project section */

.project{
    min-height: 100vh;
    background: linear-gradient(to bottom, #23005a 10%, #000133 90%);
}

.projects{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

/* card section */

.card{
    border-radius: 20px;
    box-shadow: 1px 1px 8px black;
}

.custom-card {
    background: linear-gradient(to top, #12005a 10%, #000296 90%);
    color: #ffffff;
}

.card img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.project h5{
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-family: "Poppins", sans-serif;
}

.project .btn{
    text-decoration: none;
    color: #ff0000;
    font-family: "Quicksand", sans-serif;
    border: 1px solid #940000;
    border-radius: 10px;
}

.project .btn:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #940000;
}

.footer{
    background-color: #940000; 
    color: #fff;
}
